{% extends 'base.html' %}
                       {% block content %}
                           {% load staticfiles %}
<h1>Общие сведения о шоколаде</h1>
				<img src="{% static '211.png'%}" class="image-in-text">
					<p class="button">
						Шоколад — это высокотехнологичный продукт, создание которого невозможно без управления мощными машинами и тончайшими физико-химическими процессами.

Качество и вкус шоколада зависит прежде всего от сорта какао-бобов.
Дерево какао, вечнозеленое древесное растение, имеет ботаническое название Theobroma cacao. «Theobroma»означает по-латыни «пища богов». Твердые плоды этого дерева похожи на небольшие дыньки. Каждый плод содержит от 20 до 40 семян, уложенных в ряды. Их называют какао-бобами, хотя к настоящим бобам и бобовым они не имеют никакого отношения. Первая пятерка стран-производителей какао: Кот-д`Ивуар, Гана, Индонезия, Нигерия, Бразилия. Затем идут страны Латинской Америки (Колумбия, Венесуэла), страны Карибского бассейна (лидер – Эквадор).
Превращение какао-бобов в шоколад — сложный процесс, в котором решающую роль играют ингредиенты, время и температура. При варьировании этих трех параметров можно изготовить множество разнообразных уникальных рецептов.</p>


<p class="button"> <img src="{% static '2.jpg'%}"  class="image-in-text2">Шоколадные изделия вырабатывают из сахара и какаопродуктов — какао тертого и какао-масла. Какаопродукты получают из какао-бобов на специализированных фабриках и в цехах. В шоколад могут входить различные добавки: сухие молоко и сливки, дробленый и тертый обжаренный орех и др. В зависимости от рецептуры и способа обработки шоколад подразделяют на следующие виды: обыкновенный без добавок и с добавками, десертный без добавок и с добавками, пористый и с начинкой. Б качестве начинок используют различные конфетные массы: ореховую, фруктовую, помадную и др. Промышленность выпускает также шоколад специального назначения (диабетический) и с добавками витаминов, ореха кола, оказывающих тонизирующее действие на организм человека. Кроме того, выпускают шоколадную глазурь (полуфабрикат для производства конфет) и какао-порошок, который получают из частично обезжиренной растертой массы ядер какао-бобов.

Основным сырьем для производства шоколада являются какао-бобы — семена плодов дерева какао, произрастающего в тропических областях Африки, Америки и на некоторых островах Индийского и Тихого океанов. Товарные какао-бобы — это зерна массой 1...2 г, состоящие из оболочки (какаовеллы), ядра Л зародыша. Какаовелла состоит из клетчатки и не представляет пищевой ценности. Какао-бобы имеют сложный химический состав (%): влаги 6, жира (какао-масла) 48, белковых веществ 12, теобромина и кофеина 1,8, крахмала 5, глюкозы 1, дубильных решеств 6, пектина 2, клетчатки 11 (в основном в оболочке), кислот 2, минеральных веществ 3,2, красящих веществ 2 и др.

Технологическая схема производства шоколада состоит из следующих основных операций: первичной переработки какао-бобов, получения какао тертого и какао-масла, получения шоколадных масс, формования шоколада, завертывания и упаковывания. Каждая стадия состоит из нескольких операций.
			</p>
{% endblock %}